## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yellowknife,CA,62.4560,-114.3525,27.12,59,20,10.36,few clouds
1,1,Bredasdorp,ZA,-34.5322,20.0403,58.55,66,96,4.54,overcast clouds
2,2,Hermanus,ZA,-34.4187,19.2345,54.81,66,100,5.91,overcast clouds
3,3,Avenal,US,36.0041,-120.1290,67.77,30,0,12.80,clear sky
4,4,Busselton,AU,-33.6500,115.3333,57.00,79,9,10.58,clear sky

In [3]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Hilo,US,19.7297,-155.0900,83.28,70,40,5.99,scattered clouds
7,7,Kirakira,SB,-10.4544,161.9205,81.66,79,77,3.87,broken clouds
19,19,Hobyo,SO,5.3505,48.5268,83.50,75,35,13.06,scattered clouds
39,39,Kapaa,US,22.0752,-159.3190,80.58,83,100,14.97,overcast clouds
44,44,San Patricio,US,28.0170,-97.5169,87.75,64,88,21.97,overcast clouds
50,50,Balao,EC,-2.9167,-79.8167,81.34,72,39,5.35,scattered clouds
74,74,Sao Gabriel Da Cachoeira,BR,-0.1303,-67.0892,89.40,66,40,3.44,scattered clouds
80,80,Hithadhoo,MV,-0.6000,73.0833,84.11,75,100,11.05,overcast clouds
104,104,Alta Floresta,BR,-9.8756,-56.0861,89.42,55,40,3.44,scattered clouds
106,106,Cotonou,BJ,6.3654,2.4183,84.18,79,20,11.50,few clouds

In [6]:
# 4a. Determine if there are any empty rows.
# check to see if there are null values. Alt use .count() or .isnull().sum() 
preferred_cities_df.notnull().sum()

City_ID                108
City                   108
Country                108
Lat                    108
Lng                    108
Max Temp               108
Humidity               108
Cloudiness             108
Wind Speed             108
Current Description    108
dtype: int64

In [7]:
preferred_cities_df.count()

City_ID                108
City                   108
Country                108
Lat                    108
Lng                    108
Max Temp               108
Humidity               108
Cloudiness             108
Wind Speed             108
Current Description    108
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(axis="index", how="any")
print(len(clean_df))
clean_df.head()

108

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Hilo,US,19.7297,-155.0900,83.28,70,40,5.99,scattered clouds
7,7,Kirakira,SB,-10.4544,161.9205,81.66,79,77,3.87,broken clouds
19,19,Hobyo,SO,5.3505,48.5268,83.50,75,35,13.06,scattered clouds
39,39,Kapaa,US,22.0752,-159.3190,80.58,83,100,14.97,overcast clouds
44,44,San Patricio,US,28.0170,-97.5169,87.75,64,88,21.97,overcast clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Hilo,US,83.28,scattered clouds,19.7297,-155.0900,
7,Kirakira,SB,81.66,broken clouds,-10.4544,161.9205,
19,Hobyo,SO,83.50,scattered clouds,5.3505,48.5268,
39,Kapaa,US,80.58,overcast clouds,22.0752,-159.3190,
44,San Patricio,US,87.75,overcast clouds,28.0170,-97.5169,
50,Balao,EC,81.34,scattered clouds,-2.9167,-79.8167,
74,Sao Gabriel Da Cachoeira,BR,89.40,scattered clouds,-0.1303,-67.0892,
80,Hithadhoo,MV,84.11,overcast clouds,-0.6000,73.0833,
104,Alta Floresta,BR,89.42,scattered clouds,-9.8756,-56.0861,
106,Cotonou,BJ,84.18,few clouds,6.3654,2.4183,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
#print(len(clean_hotel_df))
clean_hotel_df.head()
#hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Hilo,US,83.28,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
7,Kirakira,SB,81.66,broken clouds,-10.4544,161.9205,SanBiz Lodge
19,Hobyo,SO,83.50,scattered clouds,5.3505,48.5268,Iftin hotel hobyo
39,Kapaa,US,80.58,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
44,San Patricio,US,87.75,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))